<!-- 
    <div class="container text-center mt">
        <h1>Welcome to Login App</h1>
        <a routerLink="/login" mat-raised-button color="accent">Login Here</a>
    </div> -->
    

<div class="bootstrap-wrapper">
    
    <div class="container-xxl">
       
        <div class="row">
            <section id="hero" class="d-flex align-items-center">
                <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                    <div class="row justify-content-center">
                        <div id="top-section-content">
                            <strong  style="color: white;
                            font-size: 1.8em;font-style: italic;
                            line-height: 1.5rem;
                            margin-bottom: 30px;
                            font-family: 'Roboto Slab';
                            padding-left: 18%;
                            
                            ">Welcome To Our Fitnessweb!</strong>
                            <br>
                            <p  style="color: white;
                            font-size: 4.25rem;
                            font-weight: 700;
                            line-height: 3.25rem;
                            margin-bottom: 0.em;
                            font-family: 'Montserrat';
                            
                            ">NO PAIN NO GAIN</p>
                                
                        </div>
                    </div>
                    <div class="text-center">
                        <a routerLink="/login" class="btn-get-started scrollto" style="background-color:#6dc77a ; font-size: large ;">
                           Get Started  <i class="fa fa-chevron-circle-right"></i> </a>
                    </div>

                    
                </div>
            </section>
            <!-- End Here -->
            <div id="feature-section">
                <h1 class="feature-section-title"><span style="color:#6dc77a;"> Become a Healthy Person</span><br>
                    With the best fitness diet tracker for beginners <span style="background-color:#6dc77a; color:#ffffff; padding:2px;">Fitnessweb.</span> 
                </h1></div>
                
        </div>
        

    </div>
</div>

<div id="showcase1-container" style="background-color: #2e2e2e;">
    <div class="showcase">
        <div class="col-2">
        <img class="showcase1pic" src="assets/images/aws1.jpg"
        >
        </div>
        <div class="col-2">
        <div class="feature-text">
        <h1 class="section-title" style="color: #FFF;
        font-size: 3em;">Yes, it even looks
            good place to train</h1>
            <p class="section-left">Fitnessweb which helps to manage your time with fitness and nutrient tracking.
        This is the awesome way.</p>
        </div>
        </div><!-- End Feature-Text -->
    </div>
</div>

<div id="showcase2-container">
    <div class="showcase">
        <div class="col-2">
        <div class="feature-text2">
        <h1 class="section-title">How about nutrition tracking? Yup that too!</h1>
            <p class="section-left">It doesn't matter how much weight you have, 
                its the easiest way to analyze the protein needs for daily in one place.
            </p>
        </div>
        </div>
        <div class="col-2">
        <img class="showcase2pic" src="assets/images/buy.png">
        </div><!-- End Feature-Text -->
    </div>
</div> <!-- End showcase2-container -->

<!-- <div class="row" >
    <section id="hero" class="d-flex align-items-center" style="background-image:none;">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100" style="background-color: #28293E;">
            <div class="row justify-content-center" >
<div class="row icon-boxes" >
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="zoom-in" data-aos-delay="200">
                            <div class="icon-box" style="background: #2c2c2c;">
                                <div class="icon">
                                    <i class="fa fa-lock"></i></div>
                                <h4 class="title"><a href="/login">Twitter</a></h4>
                                
                                <img src="assets/images/twitter.png" alt="twitter" height="48" width="55">
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-stack-exchange"></i></div>
                                <h4 class="title"><a href="/login">Facebook</a></h4>
                                
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="zoom-in" data-aos-delay="400">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-database"></i></div>
                                <h4 class="title"><a href="/login">Instagram</a></h4>
                            
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="zoom-in" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-line-chart"></i></div>
                                <h4 class="title"><a href="/login">Calculate Networth</a></h4>
                                
                            </div>
                        </div>
             

</div></div></div></section>
</div> -->
<footer>
    <div class="social-footer">
        <div class="center">
            <a href="/login">
            <img src="assets/images/twitter.png" alt="twitter" height="48" width="55" >
            </a>
        </div>
    </div>
    <div class="social-footer">
        <div class="center">
            <a href="/login">
            <img src="assets/images/facebook.png" alt="twitter" height="55" width="28">
        </a>
        </div>
    </div>
    <div class="social-footer">
        <div class="center">
            <a href="/login">
            <img src="assets/images/instagram.png" alt="twitter" height="52" width="52">
        </a>
        </div>
    </div>
    
    
</footer>