<br>
<div class="container">
  <div class="card-body text-center rounded shadow p-3 mb-5 bg-body"
  style="background-color: #e0e0e0;">

  <h2 style="letter-spacing: 2px; padding-bottom: 10px;"> ADD NEW PRODUCT</h2>
  <form #addproductform="ngForm" (ngSubmit)="addProductformsubmit()">
    <!-- {{product | json}} -->
    <div class="form-group">
      
      <mat-form-field class="form-field-lg"  appearance="outline">
        <mat-label for="id">Id:</mat-label>
        <input matInput type="text"  required [(ngModel)]="product.id" name="id" disabled />
      </mat-form-field>

   
    </div>
    <div class="form-group">
      
      <mat-form-field class="form-field-lg"  appearance="outline">
        <mat-label for="name">Name:</mat-label>
        <input matInput type="text"  required [(ngModel)]="product.name" name="name" />
      </mat-form-field>
     
    </div>
  


    <div class="form-group">

      <mat-form-field class="form-field-lg"  appearance="outline">
        <mat-label for="description">Description:</mat-label>
        <input matInput type="text"  required [(ngModel)]="product.desc" name="description" />
      </mat-form-field>

    </div>
    <div class="form-group">
      <mat-form-field class="form-field-lg"  appearance="outline">
        <mat-label for="price">Price:</mat-label>
        <input matInput type="text"  required [(ngModel)]="product.price" name="price" />
      </mat-form-field>

    </div>
    <div class="form-group">
      <mat-form-field class="form-field-lg"  appearance="outline">
        <mat-label for="protein">Protein:</mat-label>
        <input matInput type="text"  required [(ngModel)]="product.protein" name="protein"/>
      </mat-form-field>

    </div>
    
    <div class="container" style="margin-left: 400px;">
    <div class="row">
    <button type="submit" class="btn btn-lg btn-outline-success"
    [disabled]="addproductform.form.invalid"
    >Submit</button> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
    <button type="submit" class="btn btn-lg btn-outline-dark" (click)="gotolist()">Back</button>
  </div>  
</div>
  </form>
</div>
</div>
