
<div class="container">
    <div class="card-body text-center rounded shadow p-3 mb-2 bg-body"
    style="background-color: #e0e0e0;">
    
        <div>
        <img src="assets/images/banner.jpg" width="500px" >

<div class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>Why Choose</span> Us?</h4>
          <p>Fitnessweb which makes it easy to monitor and measure all your fitness activites.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item" routerLink="/dietproduct"> <span class="icon feature_box_col_one"><i class="fa fa-shopping-basket"></i></span>
            <h6>Diet Product</h6>
            <p>Checkout protein diet products and Calories foods</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item" routerLink="/todo"> <span class="icon feature_box_col_two"><i class="fa fa-check-square-o"></i></span>
            <h6>Todo Task</h6>
            <p>Nutrition tracking with fitness tasks and Diet tracking</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6"><a href="http://localhost:4200/calculate">
          <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-calculator"></i></span>
            <h6>Protein Calculator</h6>
            <p>Easy to calculate your daily proteins for Muscle growth</p>
          </div></a>
        </div>
        
      </div>
    </div>
</div>
</div>
</div>
</div>