<div class="inner-header">
    <div class="text-wrapper">
      <div>
        <span class="text-primary">Pending: </span
        ><span id="pending-display" class="text-primary" style="color: #3f51b5;">
          {{ pendingSum }} kcals</span>
      </div>
    </div>
    <div class="text-wrapper">
      <div>
        <span class="text-primary">Burnt: </span
        ><span id="paid-display" class="text-primary" style="color: var(--primary);"> 
          
            {{ paidSum }} kcals</span>
      </div>
    </div>
    <div class="text-wrapper">
      <div>
        <span class="text-primary">Total Calories Burnt: </span
        ><span id="total-display" class="text-primary" style="color: var(--primary);"> 
          <mat-icon class="icon" aria-hidden="false" aria-label="add icon"
          style="padding-top: 2.6px;"
          >local_fire_department</mat-icon>
          {{ totalSum }} kcals</span>
      </div>
    </div>
  </div>
  